notes.miikat.dev {
        reverse_proxy oracle:3000
}

hackupc.co {
  handle_path /grafana/* {
    reverse_proxy oracle:8080
  }
  handle_path /grafana {
    reverse_proxy oracle:8080
  }
  reverse_proxy oracle:8888
}

isthecafeteriaopento.us {
	respond "no"
}
